@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../shared/font/stylesheet.css);

body {
	font-family: 'Overpass';
}

.grid-task-item {
	display: grid;
	grid-template-columns: 50% 20% 15% 15%;
	justify-content: center;
	align-items: center;
}

.alert-message {
	position: absolute;
}
.alert-message.close {
	top: -100%;
}
.alert-message.open {
	top: 0%;
}
.deleted-item {
	animation: 0.5s delAnim forwards;
	transition: all;
}

@keyframes delAnim {
	from {
		position: relative;
		left: 0;
	}
	to {
		height: 0;
		position: absolute;
		left: -120%;
	}
}
